.advantages {
	padding: 70px 0 95px;
	text-align: center;
	background: #f6f6f6;
}
.advantages__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 65px;
}
.advantages__item {
	max-width: 247px;
}
.advantages__image {
}
.advantages__subtitle {
	margin-top: 38px;
}
.advantages__text {
	margin-top: 25px;
	font-size: 14px;
	a {
		color: #ff0000;
			&:hover {
				opacity: 0.8;
			}
	}
}