.reviews__main {
	margin-top: 70px;
}
.reviews__item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 102px;
	img {
		max-width: 170px;
		max-height: 170px;
		margin-right: 60px;
	}
}
.reviews__item-info {

}
.reviews__item-name {
	color: #0d0d0d;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.reviews__item-progress {
	color: #646464;
	font-size: 14px;
	margin-bottom: 20px;
}
.reviews__item-text {
	color: #0d0d0d;
	font-size: 16px;
}